<article class="stub">
  <header>
    <h2><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
    <a href="https://aria.ai" class="small">{{.Site.Params.author}}</a>
    <time class="small">{{ .Date.Format "2 Jan 2006" }}</time>
  </header>
  <section class="article">
    <p>{{.Summary}}</p>
    <a class="keep-reading" href="{{.RelPermalink}}">Keep reading</a>
  </section>
</article>
