<footer class="site-footer">
  <section class="copyright">
    <a href="{{.Site.BaseURL}}">Aria Fallah &copy;</a>
    <p style="margin: 0">All Rights Reserved - {{ (time now).Year }}</p>
  </section>
</footer>
