{{ partial "components/head.gohtml" . }}
<body>
  <div class="page-wrap">
    {{ partial "components/nav.gohtml" . }}
    <main class="container" role="main">
      {{ partial "components/article.gohtml" . }}
    </main>
  </div>
  {{ partial "components/foot.gohtml" . }}
  {{ partial "components/scripts.gohtml" . }}
</body>
</html>
