* {
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

html, body {
  height: 100%;
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6
h6 * {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

a {
  display: inline-block;
  color: #666;
  text-decoration: none;
}

p {
  margin: 10px;
  line-height: 1.5em;
}

pre {
  background-color: #1d1f21;
  border: none;
  font-size: 14px;
  line-height: 20px;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

time {
  color: #999;
}

.container {
  width: 830px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.small {
  font-size: 0.8em;
}

.blog-header {
  padding: 15px;
}

.blog-logo {
  height: 30px;
}

.article {
  padding: 10px;
}

.stub + .stub {
  margin-top: 40px;
}

.keep-reading {
  margin-top: 10px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -30px;
}

.site-footer, .page-wrap:after {
  height: 30px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
