* {
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

html, body {
  height: 100%;
}

a {
  color: #666;
  display: inline-block;
  text-decoration: none;
}

p {
  margin: 20px 0;
  line-height: 1.5em;
}

pre {
  border: none;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  position: relative;
  margin: 20px 0;
}

code {
  padding: 2px 5px;
  background-color: #e7e7e7;
}
code:last-child {
  overflow-x: auto;
}

pre code {
  padding: 0;
  background-color: #fff;
}

blockquote {
  color: #777;
  padding: 0 1em;
  border-left: 0.25em solid #ddd;
}

time {
  color: #999;
}

hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: none;
}

ol,
ul {
  padding: 0;
  margin-left: 1em;
}

table {
  width: 100%;
  display: block;
  overflow: auto;
  border-collapse: collapse;
}

table tr {
  border-top: 1px solid #ccc;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

li + li {
  margin-top: 10px;
}

.container {
  max-width: 830px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.small {
  font-size: 0.8em;
}

.blog-header {
  padding: 15px;
}

.blog-logo {
  height: 30px;
}

.article {
  padding: 10px;
}

.article a {
  color: rgb(36, 195, 90);
  text-decoration: underline;
}

.article h1,
.article h2,
.article h3 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}

.article a:visited {
  color: rgb(26, 110, 16);
}

.stub + .stub {
  margin-top: 40px;
}

.keep-reading {
  margin-top: 10px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px;
}

.site-footer, .page-wrap:after {
  height: 100px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: flex-end;
}

.stub .article p {
  padding-left: 10px;
}

.stub .article {
  padding-left: 0;
}

.title {
  font-weight: normal;
}
